# Ignore environment variables file
.env

# Ignore .DS_Store files (macOS specific)
.DS_Store

# Ignore service account JSON file
bluechip-ph-*.json

# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore virtual environment
venv/